<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "com.phonegap.distritos"
version     = "1.0.0"
versionCode = "10" >
<name>Secciones Electorales</name><description>Secciones electorales federales en cuernavaca</description>
<author href="http://etpsoluciones.com" email="enrique_hdez.cortes@hotmail.com">Enrique Hernandez</author>
<icon src="images/etp-icon.jpg" />
<plugin name="Accelerometer" value="org.apache.cordova.core.AccelListener" />
<plugin name="Compass" value="org.apache.cordova.core.CompassListener" />
<plugin name="Geolocation" value="org.apache.cordova.core.GeoBroker" />
<plugin name="NetworkStatus" value="org.apache.cordova.core.NetworkManager" />
<plugin name="Geolocation" value="CDVLocation" />
</widget>